.tweet {
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
  height: 100%;
  border: 2px solid rgba(225,225,225,0.7);
  border-radius: 10px ;
  font-family: "Roboto Condensed", sans-serif;
}

.tweet:hover {
border:2px solid rgba(0, 0, 0, 1);
}

.tweet:hover > header {
  opacity: 1.0;
}

.tweet header {
  float: left;
  padding: 10px;
  width: 100%;
  background-color: #eee;
  opacity: 0.7;
}

header > .profile-pic {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  margin-top: 0;
  border-radius: 10px ;
  float:left;
}

.name {
  margin-top: 0;
  font-size: 200%;
  float:left;
}

.handle {
  float:right;
  text-align: start;
}

.tweet p {
  font-size: 125%;
  padding-left: 10px;
  padding-right: 10px;
}

.tweet footer {
  border-top:2px solid #ededed;
  padding:10px;
}
