#nav-bar {
  position: fixed; /* allows the nav-bar to stay on screen */
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 100;
}

#nav-bar .logo {
  height: 80px;
  margin-right: 10px;
  float:left;
}

#nav-bar .header{
  font-size:200%;
  line-height: 80px;
}
#nav-bar #miyagi{ /* css for compose button */
  font-size:30px;
  float: right;
  border:2px solid #000;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 15px;
  background-color: #eee;
  padding-top:10px;
  padding-bottom: 10px;
}

.composing { /* compose text turns green when new-tweet is visible */
  color: #00a087;
}
