/* css for elements inside element with class new-tweet */
.new-tweet {
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
  padding: 10px;
  border: 2px solid #e1e1e1;
  border-radius: 10px ;
  background-color: #eee;
}

.new-tweet > h2 {
  margin-top: 0;
}

.underLine {
  height:1px;
  background: #000;
}

section > form > textarea {
  width: 100%;
  padding:8px;
}

section > form > span {
  float:right;
  padding-right: 8px;
}
